@import url('font-awesome.min.css');

body {
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	font-size: 1em;
}

input {
	padding: 4px;
	height: 20px;
	font-size: 1em;
}

td, th {
	padding: 10px;
}

input#url {
	width: 300px;
}

input#timeout {
	width: 40px;
	text-align: center;
}

a.icon {
	text-decoration: none;
	color: red;
}

a.btn {
	color: white;
	font-weight: 300;
	padding: 10px 20px;
	text-decoration:none;
	display: block;
	text-align: center;
	margin-left: 12px;
	float: left;
	
	border-radius: 3px;
}

a#more {
	border: 1px solid #476691;
	background: #5d8ee1;
}

a#more:hover {
	background: #3e6ad2;
}

a#save {
	background: #6C6;
	border: 1px solid #3c9a3b;
}

a#save:hover {
	background: #43ad41;
}

.clearfix {
	display: block;
	clear:both;
}